<ion-content [fullscreen]="true">
  <ion-content [fullscreen]="true" class="ion-padding">
    <div class="login-container">
      <div class="login-box">
        <img
          src="../../assets/icon/LogoDuoc.png"
          alt="DuocUC Logo"
          class="logo"
        />
        <form>
          <ion-item>
            <ion-input
              type="email"
              placeholder="Correo@duoc.cl"
              class="custom-placeholder"
            >
              <ion-icon name="at-outline" slot="start"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              type="password"
              placeholder="Contraseña"
              class="custom-placeholder"
            >
              <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            </ion-input>
          </ion-item>
          <ion-button expand="block" class="login-button" type="submit"
            >Ingresar
            <ion-icon name="log-in-outline" slot="end"></ion-icon>
          </ion-button>
        </form>
        <a routerLink="/recuperar" class="forgot-password">
          <ion-icon name="help-circle-outline"></ion-icon>
          Recuperar contraseña</a
        >
      </div>
    </div>
  </ion-content>
</ion-content>
